@use "variables" as *;
@use "common" as *;
@use "modules" as *;
@use "mixin" as *;

// ヘッダー
.header {
    position: fixed;
    z-index: 2;
    width: 100%;
    padding-left: 80px;
    background-color: $base-white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);

    @include mq(sp){
        padding-left: 16px;
        padding-right: 16px;
    }

    &-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 64px;
        background-color: $base-white;
    }

    &__logo {
        height: 32px;
    }

    .nav {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        @include mq(sp){
            display: none;
        }
    }

    .sns{
        @include mq(sp){
            display: none;
        }
    }
}