// カラー変数
$base-white:#FFFFFF;
$base-brown:#E2DDD1;
$main-brown:#6E551B;
$accent-brown:#A27D28;
$accent-blue:#1B466E;
$text-white:#FFFFFF;
$text-black:#333333;
$text-brown:#3C2F10;

// フォント変数
$serif:"Libre Caslon Text";
$serif-jp:"Noto Serif JP";
$sans-jp:"Noto Sans JP";