// _variables.scssをvという形式で取り込む
@use "variables" as *;
@use "common" as *;
@use "modules" as *;
@use "header" as *;
@use "footer" as *;
@use "mixin" as *;

// ヒーローセクション
.hero {
    padding-top: 64px;

    &-container {
        height: calc(100vh - 64px);
        padding-top: 128px;
        background: url("../img/01.jpg");
        background-size: cover;
        background-position: center;

        @include mq(sp){
            height: initial;
            padding-top: 96px;
            aspect-ratio: 1/1;
            object-fit: cover;
        }
    }

    &__title {
        color: $text-white;
        font-family: "Noto Serif JP";
        font-size: 40px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.05em;
        text-align: center;

        @include mq(sp){
            font-size: 24px;
        }
    }
}

// お知らせセクション
.news {
    padding-top: 64px;
    padding-bottom: 96px;

    @include mq(sp){
        padding: 48px 16px;
    }

    &-posts {
        display: grid;
        gap: 8px;
        grid-template-columns: 636px 314px 314px;
        grid-template-rows: 314px 314px;
        margin-bottom: 80px;

        @include mq(sp){
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto auto;
            margin-bottom: 24px;
        }
    }

    &-post {
        position: relative;
        background-size: cover;
        background-position: center;

        filter: grayscale(100);
        transition: all 0.5s ease;

        @include mq(sp){
            filter: grayscale(0);
        }

        &:hover{
            filter: grayscale(0);
        }

        &-link {
            display: block;
            width: 100%;
            height: 100%;
        }

        &-contents {
            position: absolute;
            left: 16px;
            bottom: 16px;
            color: $text-white;
            font-family: $sans-jp;

            @include mq(sp){
                left: 8px;
                bottom: 8px;
                width: 100%;
                padding-right: 16px;
            }
        }

        &__title {
            margin-bottom: 8px;
            line-height: 1.5;
            letter-spacing: 0.05em;
            text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.30);

            @include mq(sp){
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            &--large {
                font-size: 24px;
                line-height: 1.3;

                @include mq(sp){
                    font-size: 20px;
                    line-height: 1.5;
                }
            }
        }

        &__category {
            display: inline-block;
            padding: 4px 12px;
            margin-right: 8px;
            border-radius: 10px;
            background-color: $main-brown;
            font-size: 12px;
            line-height: 1;
        }

        &__date {
            font-size: 12px;
            line-height: 1;
        }

        &-first {
            background-image: url("../img/02.jpg");
            grid-column: 1/2;
            grid-row: 1/3;
            
            @include mq(sp){
                aspect-ratio: 1/1;
                object-fit: cover;
                grid-column: 1/3;
                grid-row: 1/2;
            }
        }

        &-second {
            background-image: url("../img/03.jpg");
            grid-column: 2/4;
            grid-row: 1/2;
            
            @include mq(sp){
                aspect-ratio: 2/1;
                object-fit: cover;
                grid-column: 1/3;
                grid-row: 2/3;
            }
        }

        &-third {
            background-image: url("../img/04.jpg");
            grid-column: 2/3;
            grid-row: 2/3;
            
            @include mq(sp){
                aspect-ratio: 1/1;
                object-fit: cover;
                grid-column: 1/2;
                grid-row: 3/4;
            }
        }

        &-fourth {
            background-image: url("../img/05.jpg");
            grid-column: 3/4;
            grid-row: 2/3;
            
            @include mq(sp){
                aspect-ratio: 1/1;
                object-fit: cover;
                grid-column: 2/3;
                grid-row: 3/4;
            }
        }
    }
}

// 商品ラインナップセクション
.product {
    padding-top: 128px;
    padding-bottom: 96px;
    background-color: $base-brown;

    @include mq(sp){
        padding-top: 48px;
        padding-bottom: 0;
    }

    .section-headline {
        text-align: center;

    }

    &-list {
        display: flex;
        column-gap: 16px;

        @include mq(sp){
            flex-wrap: wrap;
            column-gap: initial;
        }
    }

    &-link {
        position: relative;
        bottom: 0;
        transition: bottom 0.5s ease, filter 0.5s ease;

        &:hover{
            bottom: 8px;
            filter: brightness(130%);
        }

        @include mq(sp){width: 50%;}

        &::after {
            position: absolute;
            top: 0;
            left: 0;
            content: "";
            width: 100%;
            height: 100%;
            background-color: #000;
            opacity: .2;
        }
    }

    &__img {
        position: relative;
        z-index: 0;
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;

    }

    &__kind {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        color: $text-white;
        font-size: 24px;
        line-height: 1;
        letter-spacing: 0.05em;
        z-index: 1;

        @include mq(sp){
            font-size: 16px;
            word-break: keep-all;

        }
    }
}

// 私たちの家具セクション
.about {
    width: 100%;
    background: url(../img/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    

    &-contents {
        display: flex;

        @include mq(sp){
            flex-flow: column;
        }

        &:nth-child(2){
            @include mq(sp){
                flex-flow: column-reverse;
            }

        }
    }

    &-column {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;

        @include mq(sp){
            display: block;
            width: 100%;
        }
    }

    &-story {
        color: $text-brown;
        letter-spacing: 0.05em;

        @include mq(sp){
            padding: 48px 16px;
        }
    }

    &__img {
        width: 100%;
    }

    &__headline {
        margin-bottom: 96px;
        font-size: 40px;
        font-weight: 500;
        line-height: 1.5;

        @include mq(sp){
            margin-bottom: 32px;
            font-size: 24px;
        }
    }

    &__text {
        font-size: 20px;
        line-height: 2;

        @include mq(sp){
            font-size: 14px;
        }
        // 文字を分割した際に、勝手な改行やズレを防ぐための設定
        span {
            display: inline-block; // アニメーションできるようにブロック要素化
            min-width: 0.3em; // 空白文字（スペース）が消えないように幅を確保
        }
    }

}

// ショールームセクション
.showroom {
    position: relative;
    width: 100%;
    padding-top: 128px;
    padding-bottom: 96px;
    background-image: url(../img/012.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @include mq(sp){
        padding: 64px 16px;
    }

    &::before {
        content: "";
        position: absolute;
        inset: 0;

        background: rgba(0, 0, 0, 0.4);

        z-index: 0;
    }

    .section-container {
        position: relative;
    }

    .section-headline {
        text-align: center;
    }

    &-list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 16px;
        row-gap: 16px;

        @include mq(sp){
            row-gap: 8px;
        }
    }

    &-glass {
        display: block;
        padding: 24px;
        position: relative;
        z-index: 0;
        width: 416px;
        height: 208px;
        border-radius: 8px;
        color: $text-white;
        font-family: $sans-jp;
        overflow: hidden;

        @include mq(sp){
            width: 100%;
            height: initial;
            aspect-ratio: 16/9;
        }

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            z-index: -2;
            border-radius: inherit;
            backdrop-filter: blur(6px);
            -webkit-backdrop-filter: blur(6px);
        }

        &::after {
            content: "";
            position: absolute;
            inset: 0;
            z-index: -1;
            border-radius: inherit;
            background: linear-gradient(135deg,rgba(232, 244, 255, 0.4),rgba(19, 49, 76, 0.6));
            box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 1), inset 0 0 0 1px rgba(185, 205, 224, 0.4);
            opacity: 0.15;
        }
    }

    &__name {
        margin-bottom: 8px;
        font-size: 20px;
        font-weight: 500;
        line-height: 1;

        @include mq(sp){
            font-size: 16px;
        }
    }

    &__access {
        font-size: 14px;
        line-height: 1.5;

        @include mq(sp){
            font-size: 12px;
        }
    }

    .sns {
        position: absolute;
        right: 24px;
        bottom: 24px;
        column-gap: 8px;
    }
}



